.keyPeople--card--container {
  display: flex;
  flex-wrap: wrap;
}

.keyPeople--card {
  height: 300px;
  width: 300px;
  margin: 15px;
  min-width: 300px;
}

.keyPeople--h1 {
  color: lightseagreen;
}

.keyPeople--card:hover {
  background-color: mintcream;
}

.projects--card {
  height: 400px;
  width: 400px;
  margin: 15px;
  min-width: 400px;
}

.projects--card--img {
  width: 370px;
  height: 150px;
  margin: 15px;
  min-width: 370px;
  object-fit: cover;
}
